.chat{
    display: flex;
    flex-direction: column;
    flex:0.65;
}

.chat__header{
    padding:20px;
    display:flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.chat__headerInfo{
    padding-left: 20px;
}